<div class="container">
  <mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav class="sidenav">

      <mat-nav-list>
        <a href="/users" routerLink="/users" (click)="snav.toggle()" mat-list-item>users</a>
        <a href="/posts" routerLink="/posts" (click)="snav.toggle()" mat-list-item>posts</a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content fxLayout="column" fxLayoutAlign="space-between">
      <router-outlet></router-outlet>
      <div class="footer" fxLayout="row" fxLayoutAlign="center center">
        <h3 class="mat-h3">Footer</h3>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>